<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<title></title>
</head>
<body>
	<div class="ui container">
		Updated <%= person.name   %>'s age to  <%= person.age   %>

		<div class="ui grid">
			<a class="two wide column" href="/">Create New Person</a>
			<a class="two wide column" href="/all">Show All</a>
		</div>	
	</div>

</body>
</html>